<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<link rel="stylesheet" href="../static/CSS/style.css">

<body class="loginPage gradient-background">
    <div class="loginWrapper">
    <form id="registerForm" method="POST" action="/login">
        <h1 class="loginHeader">Welcome back!</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        <div class="Input">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" placeholder="example@mail.com">
    </div>
    <div class="Input">
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" name="pwd" placeholder="**********">
    </div>
    
        <input class="submit" type="submit" value="Login">
    </form>
    <div class="registerLink">
    <p>First time?  <a class="Register" href="register">Register Here!</a></p>
</div>
</div>
</body>
</html>