<!-- templates/PersonalInfoSetting.html -->
{% extends "base.html" %}

{% block title %}Personal Profile Setting{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="profilePage">
    <div class="profileContent">
    <h1 class="profileHeader">Set Your Personal Information!</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label for="firstname">First Name:</label>
        <input class="textBox" type="text" id="firstname" name="firstname" value="{{ user.firstname }}" required>

        <label for="lastname">Last Name:</label>
        <input class="textBox" type="text" id="lastname" name="lastname" value="{{ user.lastname }}" required>

        <button class="addOrg" type="submit">Submit</button>
    </form>
    <div class="Links">
    <a class="backLink" href="{{ url_for('personal_info') }}">Back to Personal Info Page</a>
</div></div>
</div>
{% endblock %}
