<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile Setting</title>
</head>
<link rel="stylesheet" href="/CSS/style.css">

<body>
    <h1>Set Your Personal Information!</h1>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" placeholder="Yan">
    <br><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" placeholder="Tong">
    <br><br>

    <input type="submit" value="Submit">
    <br><br>

    <a href="PersonalInfo.html">Back to Personal Info Page</a>
</body>