<!-- templates/PersonalInfo.html -->
{% extends "base.html" %}

{% block title %}Personal Profile{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
    <h1 class="profileHeader">Personal Information</h1>

    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>First Name:</strong> {{ user.firstname }}</p>
    <p><strong>Last Name:</strong> {{ user.lastname }}</p>

    <h2>Your Classes:</h2>
    <ul>
        {% for cls in user.classes %}
            <li>{{ cls }}</li>
        {% else %}
            <li>No classes added.</li>
        {% endfor %}
    </ul>

    <h2>Your Organizations:</h2>
    <ul>
        {% for org in user.organizations %}
            <li>{{ org }}</li>
        {% else %}
            <li>No organizations added.</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('personal_info_settings') }}">Set My Name</a><br><br>
    <a href="{{ url_for('event_setting') }}">Create an Event</a><br><br>
    <a href="{{ url_for('organization_setting') }}">Create an Organization</a><br><br>
{% endblock %}
