{% extends "base.html" %}

{% block title %}Personal Profile{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="profilePage">
    <div class="profileContent">
    <h1 class="profileHeader">Personal Information</h1>

    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>First Name:</strong> {{ user.firstname }}</p>
    <p><strong>Last Name:</strong> {{ user.lastname }}</p>

    <h2 class="profileHeader">Your Organizations:</h2>
    <ul>
        {% for org in user.organizations %}
            <li>
                {{ org.title() }}
                <form action="{{ url_for('remove_org_from_user_route') }}" method="POST" style="display:inline;">
                    <input type="hidden" name="organization" value="{{ org }}">
                    <button type="submit" class="remove">Remove</button>
                </form>
            </li>
        {% else %}
            <li>No organizations added.</li>
        {% endfor %}
    </ul>

    <div class="Links">
    <a class="profileLink" href="{{ url_for('personal_info_settings') }}">Set My Name</a><br><br>
    <a class="profileLink" href="{{ url_for('event_setting') }}">Create an Event</a><br><br>
</div>
    <h2 class="profileHeader">Add an Organization to Your Profile</h2>
    <form action="{{ url_for('add_organization_to_user') }}" method="POST">
        <label for="organization">Select Organization:</label><br>
        <div class="orgButtons">
        <select class="selector" name="organization" id="organization" required>
            <option class="selection" disabled selected>-- Select an Organization --</option>
            {% for org in all_organizations %}
                {% if org.name not in user.organizations %}
                    <option class="selection" value="{{ org.name }}">{{ org.name.title() }}</option>
                {% endif %}
            {% endfor %}
        </select><br><br>
        <button class="addOrg" type="submit">Add Organization</button>
    </div>
    </form>
</div>
</div>

{% endblock %}
